{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
    <div class="row">
        <div class="col-sm-6">
            <h2>Latest Blogs</h2>
        </div>
        <div class="col-sm-6">
            <a href="/posts/post_new/">***Click Here To Create New Post***</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr>
        </div>
    </div>
    {% for post in posts.all %}
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <h3><a href="{% url 'posts:post_details' post.id %}"><h3>{{ post.title }}</h3></a></h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-2 col-sm-3 text-center">
                        <a class="story-img" href="#">
                            <!--<img src="http://placehold.it/100" style="width:100px; height:100px; background-color: #12ABB2; color: #ffffff#" class="img-circle">-->
                            {% if post.image %}
                                <p><img src="{{ post.image.url }}"  style="width:100px; height:100px; background-color: #12ABB2; color: #ffffff" class=" img-fluid center-block img-thumbnail"></p> <!--class="img-fluid center-block img-thumbnail" style="max-height:300px;"></p>-->
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <div class="row">
                            <div class="col-xs-9">
                                <p>{{ post.body|truncatewords:30 }}</p>
                                <p>{{ post.summary }}...</p>
                                <p><a href="/posts/post_details/{{ post.id }}">(click to view more)</a></p>
                                <p>{{ post.pub_date_pretty }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr>
            </div>
        </div>

    {% endfor %}
{% endblock %}